<div class="jumbotron">
<%= form_for(@jobsearch) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
	<%= f.label :company %>
		<%= f.text_field :company, class: 'form-control' %>

		<%= f.label :role %>
		<%= f.text_field :role, class: 'form-control' %>

		<%= f.label :description %>
		<%= f.text_area :description, class: 'form-control' %>
	</div>
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>